/*---------Login-----------*/
.padding-b20{
    margin-bottom: 20px;
}
.wrapper-form-login{
    width: 500px;
    padding: 30px;
    background-color: #F5F5F5;
    margin: 100px auto;
    border-radius: 10px;
}
.error{
    text-align: center;
    color: red;
    padding-bottom: 10px;
}

textarea{
    resize: none;
}
.comment-button{
    display: inline-block;
    margin: 20px 0px 0px 270px;
}

.comment{
    background-color: #D3D3D3;
    margin-bottom: 20px;
    border-radius: 7px;
}

.comment-text{
    padding: 10px;
}

.comment-user{
    font-style: italic;
    padding-bottom: 10px;
    font-size: 10px;
}