{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper-form-login" style="width: 800px">
<table data-toggle="table" width="100%" data-sort-name="worker" data-sort-order="desc" class="table table-striped table-bordered table-hover table-condensed">
    <thead>
    <th data-field="name" data-sortable="true">Наименование проекта</th>
    <th data-field="days" data-sortable="true">Дата</th>
    </thead>
    {% for project in projects %}
    <tr>
        <td><a href="{{ path('show_project') }}?id={{ project.id }}">{{ project.name }}</a></td>
        <td>{{ project.created_on }}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

